h1 {
    color: red;
    background-color: #FFFFFF;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    outline: 10px solid pink;
}